In [1]:
import pandas as pd
import numpy as np

In [2]:
data_dir = '../input'

In [3]:
flame = pd.read_csv(f'{data_dir}/flame.txt', sep='\t', header=None)
flame

        0      1  2
0    1.85  27.80  1
1    1.35  26.65  1
2    1.40  23.25  2
3    0.85  23.05  2
4    0.50  22.35  2
..    ...    ... ..
235  7.50  26.20  1
236  7.50  25.65  1
237  7.05  25.85  1
238  6.90  27.15  1
239  6.15  26.90  1

[240 rows x 3 columns]